################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Day1/AOC2022Day1/.vs
/.vs
/Day1/AOC2022Day1/obj
/obj
/Commons/bin/Debug/net6.0
/Commons/obj
/Commons/Commons.csproj
/bin/Debug/net6.0
/Commons/.vs/Commons
/Day1/AOC2022Day1/bin/Debug/net6.0
/Day2/AOC2022Day2/obj
/Day3/AOC2022Day3/bin/Debug/net6.0
/Day3/AOC2022Day3/obj
/Day2/AOC2022Day2/bin/Debug/net6.0
/Day4/AOC2022Day4/bin/Debug/net6.0
/Day4/AOC2022Day4/obj
/Day5/AOC2022Day5/bin/Debug/net6.0
/Day5/AOC2022Day5/obj
/Tests/bin/Debug/net6.0
/Tests/obj
